<div id="presentacion">
    <mat-card>
        <mat-card-content>
            <p> Soy un Desarrollador Full Stack con las siguientes funciones: planificación del proyecto, levantamiento de información, diseño de base de datos, consultas a clientes, senior, usuarios finales desarrollo de backed y del fronted, manejando las siguientes tecnologías: .Net, C#, ASPNET, JavaScript, Sql server, html, css, Git Hub, React Js, Swangger, Manejo de Entity Framework, Coder First, manejo de cors, manejo integracion de API, Automaper, Identity.

            </p>
            <p>Soy un profesional Orientado al servicio, enfocado en mejorar mis habilidades y a dar soluciones al cliente, autodidacta, receptivo a las críticas constructivas, con experiencia en diversos procesos Administrativos, Contable, nómina, producción y diversos procesos de negocio.</p>
        </mat-card-content>
      </mat-card>
</div>
