nav{
    background-color: blue;
    border-color: black;
    padding: 1px;
    color: #fcfbfb;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    align-items: center;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
#letras{
    color: #fcfbfb;
    text-decoration: none;
    margin-left: 30px;
    font-size: 25px;
    font-style: italic;
}
#options{
    
    width: 400px;

}
nav ul{
    display: flex;
    gap: 25px;
    list-style: none;
}
ul li a 
{
    color: #fcfbfb;
    text-decoration: none;
}