
.cabeza{
    background-color: blue;
    
}
.titulos{
    color: white;
}
.botones{
    justify-content: end;
}
.card-proyect{
    margin-top: 15px;
    margin-left: 15px;
    width: 300px;
    border: 3px solid black;
    
}

.img-proyect{
    width: 100%;
    

}
.mate{
    width: 100%;
}

.decripcion{
    background-color: rgb(187, 186, 186);
}

p{
    color: white;
    text-align: justify;
}