<div class="card-proyect">
    <mat-card class="example-card">
        <mat-card-header class="cabeza">
          <mat-card-title class="titulos">{{proyecto.titulo}}</mat-card-title>
          <mat-card-subtitle class="titulos">{{proyecto.subtitulo}}</mat-card-subtitle>
          <mat-divider></mat-divider>
        </mat-card-header>
        <div class="img-proyect">
            <img class="mate" mat-card-image [src]="proyecto.imagen+proyecto.nameimagen">

        </div>
        <mat-divider></mat-divider>
        <mat-card-content class="decripcion">
          <p>
            {{proyecto.contenido}}
          </p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions class="botones">
          <button mat-button>Git Hub</button>
          <button mat-button>Deploy</button>
        </mat-card-actions>
      </mat-card>
</div>