<div class="card-proyect">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{proyecto.titulo}}</mat-card-title>
          <mat-card-subtitle>{{proyecto.subtitulo}}</mat-card-subtitle>
          <mat-divider></mat-divider>
        </mat-card-header>
        <div class="img-proyect">
            <img class="mate" mat-card-image [src]="proyecto.imagen+proyecto.nameimagen">

        </div>
        <mat-divider></mat-divider>
        <mat-card-content>
          <p>
            {{proyecto.contenido}}
          </p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
</div>